[submodule "2025"]
	path = 2025
	url = https://github.com/meta-introspector/time-2025
[submodule "vendor/livestream-tiktok-plugin"]
	path = vendor/livestream-tiktok-plugin
	url = https://github.com/meta-introspector/livestream-tiktok-plugin
[submodule "vendor/twitter-plugin"]
	path = vendor/twitter-plugin
	url = https://github.com/meta-introspector/twitter-plugin
[submodule "vendor/elizaos-plugins/plugin-twitter"]
	path = vendor/elizaos-plugins/plugin-twitter
	url = https://github.com/elizaos-plugins/plugin-twitter
