[submodule "09/25/log_analyzer/vendor"]
	path = 09/25/log_analyzer/vendor
	url = /data/data/com.termux.nix/files/home/git/vendor
[submodule "09/25/log_analyzer/osint/PHONEINFOGA"]
	path = 09/25/log_analyzer/osint/PHONEINFOGA
	url = https://github.com/SUNDOWNDEV/PHONEINFOGA
[submodule "10/04/nix-stdlib"]
	path = 10/04/nix-stdlib
	url = https://github.com/meta-introspector/nix-stdlib
[submodule "09/22/crq-binstore"]
	path = 09/22/crq-binstore
	url = https://github.com/meta-introspector/crq-binstore.git
[submodule "10/05/MicroLean4"]
	path = 10/05/MicroLean4
	url = https://huggingface.co/datasets/introspector/MicroLean4
[submodule "09/26/jobs/vendor/nix-eval-jobs"]
	path = 09/26/jobs/vendor/nix-eval-jobs
	url = https://github.com/nix-community/nix-eval-jobs
[submodule "09/26/jobs/vendor/nix-task"]
	path = 09/26/jobs/vendor/nix-task
	url = https://github.com/meta-introspector/nix-task
[submodule "09/26/synapse-system"]
	path = 09/26/synapse-system
	url = https://github.com/meta-introspector/synapse-system.git
[submodule "10/12/proof/vendor/rnix-parser"]
	path = 10/12/proof/vendor/rnix-parser
	url = https://github.com/meta-introspector/rnix-parser
	branch = feature/CRQ-016-nixify-workflow
[submodule "12/06/external/xmlwriter"]
	path = 12/06/external/xmlwriter
	url = https://github.com/RazrFalcon/xmlwriter
[submodule "12/12/06/external/resvg"]
	path = 12/12/06/external/resvg
	url = https://github.com/linebender/resvg
[submodule "12/06/external/resvg"]
	path = 12/06/external/resvg
	url = https://github.com/linebender/resvg
[submodule "05/19/microlean"]
	path = 05/19/microlean
	url = https://huggingface.co/datasets/introspector/MicroLean4
[submodule "12/06/external/nalgebra"]
	path = 12/06/external/nalgebra
	url = https://github.com/dimforge/nalgebra
[submodule "12/06/external/OpenBLAS"]
	path = 12/06/external/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS
