[submodule "09/22/crq-binstore"]
	path = 09/22/crq-binstore
	url = https://github.com/meta-introspector/crq-binstore.git
[submodule "09/26/synapse-system"]
	path = 09/26/synapse-system
	url = https://github.com/sub0xdai/synapse-system
[submodule "09/25/log_analyzer/vendor"]
	path = 09/25/log_analyzer/vendor
	url = /data/data/com.termux.nix/files/home/git/vendor
[submodule "09/26/jobs/vendor/nix-task"]
	path = 09/26/jobs/vendor/nix-task
	url = https://github.com/madjam002/nix-task
[submodule "09/26/jobs/vendor/nix-eval-jobs"]
	path = 09/26/jobs/vendor/nix-eval-jobs
	url = https://github.com/nix-community/nix-eval-jobs
[submodule "09/25/log_analyzer/osint/PHONEINFOGA"]
	path = 09/25/log_analyzer/osint/PHONEINFOGA
	url = https://github.com/SUNDOWNDEV/PHONEINFOGA
