{
  "access_token": "<TOKEN>",
  "scope": "https://www.googleapis.com/auth/userinfo.profile openid https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/userinfo.email",
  "token_type": "Bearer",
  "id_token": "<IDTOKEN>",
  "expiry_date": 1759101700000,
  "refresh_token": "<REFRESHTOKEN>"
}